Language: Cpp
BasedOnStyle: Google
AccessModifierOffset: -4
AlignAfterOpenBracket: Align       # ali: DontAlign
AlignOperands: false
ColumnLimit: 95                   # ali: 90  
ConstructorInitializerIndentWidth: 8 # ali： 8
ContinuationIndentWidth: 4         # ali: 8
DerivePointerAlignment: false
IncludeCategories:
- Priority: 2
  Regex: '^<' # Like <vector>
- Priority: 1
  Regex: '^"' # Like "statistic_info.h" # ----------------------- ali include order
IndentWidth: 4
SpacesBeforeTrailingComments: 1
Standard: c++11
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Inline 
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakTemplateDeclarations: Yes
AllowShortLambdasOnASingleLine: Empty
SpaceBeforeCpp11BracedList: true
AlignArrayOfStructures: None

# --------------- 以下是个人改动

# ------------------ sunyd 默认格式
# BasedOnStyle: Google, TabWidth: 4, IndentWidth: 4, ColumnLimit: 100, AccessModifierOffset: -4, AlignAfterOpenBracket: DontAlign, AlignTrailingComments: true, AlwaysBreakTemplateDeclarations: true,
